<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="au-com-spatialvision-plugins-indooratlas" version="1.0.2">
    <name>sv-plugin-indooratlas</name>

	<engines>
		<engine name="cordova-android" version="&gt;=4.0.0"/> <!-- This main branch of OneSignal depends on gradle and maven. -->
		<engine name="apple-xcode" version="&gt;=6.2.0"/>
		<engine name="apple-ios" version="&gt;=6.0.0"/>
	</engines>

	<js-module src="www/NavPosition.js" name="NavPosition">
		<clobbers target="NavPosition"/>
	</js-module>

	<js-module src="www/IndoorAtlas.js" name="IndoorAtlas">
		<clobbers target="indooratlas"/>
	</js-module>


	<platform name="android">
		<framework src="platforms/android/build.gradle" custom="true" type="gradleReference"/>
		<framework src="platforms/android/indooratlas.gradle" custom="true" type="gradleReference"/>

		<!-- framework src="com.indooratlas.android:indooratlas-android-sdk:2.0.2-beta@aar" / -->

		<config-file target="config.xml" parent="/*">
			<feature name="IndoorAtlas">
				<param name="android-package" value="au.com.spatialvision.plugin.IndoorAtlas"/>
			</feature>
		</config-file>
		<source-file src="platforms/android/src/au/com/spatialvision/plugin/IndoorAtlas.java" target-dir="src/au/com/spatialvision/plugin"/>
	</platform>


	<!-- browser -->
	<platform name="browser">
		<js-module src="platforms/browser/IndoorAtlasProxy.js" name="IndoorAtlasProxy">
			<runs/>
		</js-module>

		<js-module src="platforms/browser/indooratlas.js" name="indooratlas">
			<merges target="navigator.indooratlas"/>
		</js-module>
	</platform>

</plugin>
